<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Stock API</title>
</head>
<body>
    <div id="background">
        <br>
        <button class="btn btn-primary" ><a id="back" href="/">Back</a></button>
        <br>
        <br>
        <p>Last 5 Day prices</p>
        <% for(var d in bigdata) { %>
            <div id="item">
                <h2 id="header"><%= bigdata[d].arr2['2. Symbol'] %> Stock</h2>
                <% for(var i in bigdata[d].arr) { %>
                <div id="stock">
                    <h3> <%= bigdata[d].arr3[i] %></h3>
                    <ul id="prices" style="width: 240px;">
                        <li><div id="priceLeftAlign">Open:</div><div id="priceRightAlign"> <span class="dollars"><%= bigdata[d].arr[i]['1. open'].slice(0,-2) %></span></div></li>
                        <li><div id="priceLeftAlign">High:</div><div id="priceRightAlign"><span class="dollars" ><%= bigdata[d].arr[i]['2. high'].slice(0,-2) %></span></div></li>
                        <li><div id="priceLeftAlign">Low:</div><div id="priceRightAlign"> <span class="dollars"><%= bigdata[d].arr[i]['3. low'].slice(0,-2) %></span></div></li>
                        <li><div id="priceLeftAlign">Close:</div><div id="priceRightAlign"> <span class="dollars"><%= bigdata[d].arr[i]['4. close'].slice(0,-2) %></span></div></li>
                        <li><div id="priceLeftAlign">Volume:</div><div id="priceRightAlign">  <%= bigdata[d].arr[i]['5. volume'] %></div></li>
                    </ul>
                </div>
                <% } %>
            </div>   
        <% } %>
    </div>
</body>
</html>
